<!DOCTYPE html>
       <html>
        <head>
            <style>
         h1{
            color:black
         }
        </style>
        </head>
         <body>
              <table border="1" align="center" bgcolor="maroon"width="400">
                <h1 align="center">Welcome to Coffee Shop</h1>
              <tr>
                 <td style="color:aliceblue">        Coffee:        </td><td style="color:aliceblue">Price:</td>
              </tr>
              <tr>
                <td style="color:aliceblue">Americano</td><td style="color:aliceblue">12</td>
              </tr>
              <tr>
                <td style="color:aliceblue">Cafe Latte</td><td style="color:aliceblue">15</td>
              </tr>
              <tr>
                <td style="color:aliceblue">Cappuccino</td><td style="color:aliceblue">15</td>
              </tr>
              <tr>
                <td style="color:aliceblue">Vanilla Latte</td><td style="color:aliceblue">18</td>
              </tr>
              <tr>
                <td style="color:aliceblue">Cafe Mocha</td><td style="color:aliceblue">19</td>
              </tr>
              <tr>
                <td style="color:aliceblue">Caramel Macchiato</td><td style="color:aliceblue">19</td>
              </tr>

              </table>
              </body>
       </html>